@using GameSaleProject_Entity.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<section>
    <div class="container">
        <div class="title">
            <p>Login</p>
        </div>
        <form asp-action="Login" asp-controller="Account" method="post">
            <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="user_details">

                <div class="input_box">
                    <label asp-for="UserName" class="control-label">Username</label>
                    <input asp-for="UserName" class="form-control" placeholder="Please Enter Your Username" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="input_box">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" placeholder="Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="input_box" style="display: flex; align-items: center;">
                    <label>Remember me</label>
                    <div class="switch" style="margin-left: 10px; position: relative; width: 60px; height: 30px; cursor: pointer;">
                        <input asp-for="RememberMe" type="checkbox" class="checkBox" style="opacity: 0; width: 60px; height: 30px; position: absolute; cursor: pointer;">
                        <div class="box" style="position: absolute; width: 100%; height: 100%; background-color: red; border-radius: 5px; transition: background-color 1s;"></div>
                        <div class="stick" style="position: absolute; height: 2px; width: 20px; background-color: black; top: 50%; left: 5px; transform: translateY(-50%) rotate(90deg); transition: transform 1s, background-color 1s, left 1s;"></div>
                    </div>
                </div>

            </div>
            <div class="reg_btn">
                <input type="submit" value="Login">
            </div>
            <div class="text-center mt-3">
                <p>Don't have an Account? <a href="@Url.Action("Register", "Account")">Create Account</a></p>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.querySelector('.switch').addEventListener('click', function () {
            var checkbox = this.querySelector('.checkBox');
            checkbox.checked = !checkbox.checked;

            var box = this.querySelector('.box');
            var stick = this.querySelector('.stick');

            if (checkbox.checked) {
                box.style.backgroundColor = 'black';
                stick.style.transform = 'translateY(-50%) rotate(270deg)';
                stick.style.backgroundColor = 'red';
                stick.style.left = '35px';
            } else {
                box.style.backgroundColor = 'red';
                stick.style.transform = 'translateY(-50%) rotate(90deg)';
                stick.style.backgroundColor = 'black';
                stick.style.left = '5px';
            }
        });
    </script>
}
