
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <div class="col-md-8 mx-auto">
            <h3 class="tittle">Admin Home Page</h3>
            <div class="login p-5 bg-light mx-auto mw-100">
            </div>
        </div>
    </div>
</section>

