@model IEnumerable<GameSaleProject_Entity.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

@section Sidebar {
    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Components/_Sidebar.cshtml")
}

<h2>Categories</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <button class="btn btn-warning" onclick="window.location.href='@Url.Action("EditCategory", "Category", new { id = category.Id, area = "Admin" })'">Edit</button>
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<h3>Add New Category</h3>

@Html.Partial("_AddCategory", new GameSaleProject_Entity.ViewModels.CategoryViewModel())




@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#categoryForm').submit(function (event) {
                event.preventDefault(); // Prevent the form from submitting normally
                var form = $(this);
                var actionUrl = form.attr('action');

                $.ajax({
                    type: 'POST',
                    url: actionUrl,
                    data: form.serialize(),
                    success: function () {
                        // Reload the categories list
                        $('#categoriesList').load(window.location.href + ' #categoriesList');
                        form[0].reset(); // Reset the form after successful submission
                    }
                });
            });
        });
    </script>
}



